@charset "utf-8";

@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue Regular.eot');
    src: url('../fonts/BebasNeue Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue Regular.woff2') format('woff2'),
         url('../fonts/BebasNeueRegular.svg#BebasNeueRegular') format('svg'),
         url('../fonts/BebasNeueRegular.ttf') format('truetype'),
         url('../fonts/BebasNeueRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue Light.eot');
    src: url('../fonts/BebasNeue Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue Light.woff2') format('woff2'),
         url('../fonts/BebasNeueLight.svg#BebasNeueLight') format('svg'),
         url('../fonts/BebasNeueLight.ttf') format('truetype'),
         url('../fonts/BebasNeueLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue Book.eot');
    src: url('../fonts/BebasNeue Book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue Book.woff2') format('woff2'),
         url('../fonts/BebasNeueBook.svg#BebasNeueBook') format('svg'),
         url('../fonts/BebasNeueBook.ttf') format('truetype'),
         url('../fonts/BebasNeueBook.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue Bold.eot');
    src: url('../fonts/BebasNeue Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue Bold.woff2') format('woff2'),
         url('../fonts/BebasNeueBold.svg#BebasNeueBold') format('svg'),
         url('../fonts/BebasNeueBold.ttf') format('truetype'),
         url('../fonts/BebasNeueBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue Thin.eot');
    src: url('../fonts/BebasNeue Thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue Thin.woff2') format('woff2'),
         url('../fonts/BebasNeue-Thin.svg#BebasNeue-Thin') format('svg'),
         url('../fonts/BebasNeue-Thin.ttf') format('truetype'),
         url('../fonts/BebasNeue-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.eot');
    src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg'),
         url('../fonts/Montserrat-SemiBold.ttf') format('truetype'),
         url('../fonts/Montserrat-SemiBold.woff') format('woff'),
         url('../fonts/Montserrat-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg'),
         url('../fonts/Montserrat-Regular.ttf') format('truetype'),
         url('../fonts/Montserrat-Regular.woff') format('woff'),
         url('../fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.eot');
    src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg'),
         url('../fonts/Montserrat-Medium.ttf') format('truetype'),
         url('../fonts/Montserrat-Medium.woff') format('woff'),
         url('../fonts/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.eot');
    src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg'),
         url('../fonts/Montserrat-Light.ttf') format('truetype'),
         url('../fonts/Montserrat-Light.woff') format('woff'),
         url('../fonts/Montserrat-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraLight.eot');
    src: url('../fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-ExtraLight.svg#Montserrat-ExtraLight') format('svg'),
         url('../fonts/Montserrat-ExtraLight.ttf') format('truetype'),
         url('../fonts/Montserrat-ExtraLight.woff') format('woff'),
         url('../fonts/Montserrat-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBold.eot');
    src: url('../fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg'),
         url('../fonts/Montserrat-ExtraBold.ttf') format('truetype'),
         url('../fonts/Montserrat-ExtraBold.woff') format('woff'),
         url('../fonts/Montserrat-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg'),
         url('../fonts/Montserrat-Bold.ttf') format('truetype'),
         url('../fonts/Montserrat-Bold.woff') format('woff'),
         url('../fonts/Montserrat-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Black.eot');
    src: url('../fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Black.svg#Montserrat-Black') format('svg'),
         url('../fonts/Montserrat-Black.ttf') format('truetype'),
         url('../fonts/Montserrat-Black.woff') format('woff'),
         url('../fonts/Montserrat-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Thin.eot');
    src: url('../fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Thin.svg#Montserrat-Thin') format('svg'),
         url('../fonts/Montserrat-Thin.ttf') format('truetype'),
         url('../fonts/Montserrat-Thin.woff') format('woff'),
         url('../fonts/Montserrat-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

html,
body {
	position: relative;
}
body {
	min-width: 300px;
	text-align: center;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #383838;
    font-family: 'Montserrat', sans-serif;
}
body.no-scroll {
	height: 100vh !important;
	overflow: hidden !important;
}
body .body-wrap {
    box-sizing: border-box;
    overflow-x: hidden;
}
a{
	text-decoration: none;
	color: #383838;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
button {
    font-family: 'Montserrat', sans-serif;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
button:hover {
    cursor: pointer;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border-color: #ff0000 !important;
}
.fancybox-inner{
	overflow: visible !important;
}
.b{
	position: relative;
}
.container{
	position: relative;
	max-width: 1230px;
	padding: 0 30px;
	box-sizing: border-box;
	margin: 0px auto;
}
.b-absolute{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}
input::-webkit-input-placeholder {
	color: #a0a0a0;
}
input:-moz-placeholder {
    color: #a0a0a0;
}
textarea::-webkit-input-placeholder {
    color: #a0a0a0;
}
textarea:-moz-placeholder {
    color: #a0a0a0;
}
.mobile-btn {
	display: none;
    position: relative;
	width: 40px;
	height: 40px;
	z-index: 1;
    cursor: pointer;
}
.mobile-btn .mobile-btn-el{
	position: absolute;
	border-radius: 100px;
	top: calc(50% - 2px);
	left: 5px;
	width: 30px;
	height: 4px;
	background-color: #000000;
	opacity: 1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.mobile-btn::before {
    content: '';
    position: absolute;
    border-radius: 100px;
    left: 5px;
    top: calc(50% - 2px);
    width: 30px;
    height: 4px;
    background-color: #000000;
    -webkit-transform: translateY(-7px);
    -moz-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    transform: translateY(-7px);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.mobile-btn::after {
	content: '';
	position: absolute;
    border-radius: 100px;
    left: 5px;
    top: calc(50% - 2px);
    width: 30px;
    height: 4px;
    background-color: #000000;
    -webkit-transform: translateY(7px);
    -moz-transform: translateY(7px);
    -ms-transform: translateY(7px);
    transform: translateY(7px);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.close-btn {
	display: none;
	position: absolute;
	width: 40px;
	height: 40px;
	z-index: 10;
    cursor: pointer;
    top: 15px;
    right: 30px;
}
.close-btn::after {
	content: '';
	position: absolute;
    border-radius: 100px;
    left: 5px;
    top: calc(50% - 2px);
    width: 30px;
    height: 4px;
    background-color: #000000;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.close-btn::before {
	content: '';
    position: absolute;
    border-radius: 100px;
    left: 5px;
    top: calc(50% - 2px);
    width: 30px;
    height: 4px;
    background-color: #000000;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.mobile-menu {
	display: none;
	position: fixed;
	z-index: 100;
	top: 0;
    bottom: 0;
	left: -200%;
	box-sizing: border-box;
	width: 100%;
	padding: 70px 30px;
	background-color: #ffffff;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.mobile-menu.active {
	left: 0;
}

.policy-text {
    display: inline-block;
    max-width: 100%;
    font-size: 12px;
    color: #2d2d2d;
    line-height: 1.2;
    position: relative;
    text-align: left;
    padding-left: 35px;
    margin-top: 15px;
}
.policy-text a {
    color: #2d2d2d;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.policy-text a:hover {
    color: #ffca48;
}
.policy-text .radio-btn {
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    border: 1px solid #f2f3f6;
    background-color: #f2f3f6;
    border-radius: 5px;
    left: 0;
    top: calc(50% - 12.5px);
}
.policy-text .radio-btn.error {
    border-color: #ff0000;
}
.policy-text .radio-btn:hover {
    cursor: pointer;
}
.policy-text .radio-btn.active::before {
    content: '';
    display: block;
    width: 10px;
    height: 2px;
    position: absolute;
    left: 1px;
    top: 13px;
    background-color: #0c112c;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.policy-text .radio-btn.active::after {
    content: '';
    display: block;
    width: 15px;
    height: 2px;
    position: absolute;
    left: 7px;
    top: 11px;
    background-color: #0c112c;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


@media (-webkit-min-device-pixel-ratio: 1.5) {
}	
@media screen and (max-width: 1280px){
	
}
@media screen and (max-width: 1024px){
    .mobile-btn, .mobile-menu, .close-btn {
        display: block;
    }
}
@media screen and (max-width: 768px){
    .container {
        padding: 0 10px;
    }
    .mobile-btn {
        width: 34px;
        height: 34px;
    }
    .close-btn {
        width: 34px;
        height: 34px;
        top: 8px;
        right: 10px;
    }
    .mobile-btn .mobile-btn-el, .mobile-btn::before, .mobile-btn::after,
    .close-btn::before, .close-btn::after {
        width: 24px;
        height: 3px;
        top: calc(50% - 1.5px);
    }
    .mobile-btn::before {
        -webkit-transform: translateY(-6px);
        -moz-transform: translateY(-6px);
        -ms-transform: translateY(-6px);
        transform: translateY(-6px);
    }
    .mobile-btn::after {
        -webkit-transform: translateY(6px);
        -moz-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
    .mobile-menu {
        padding: 50px 10px;
    }
}