body {
	background-image: url('../i/body-fon.jpg');
	background-position: top center;
}

.btn {
	display: block;
	width: 100%;
	max-width: 230px;
	padding: 20px 10px;
	border-radius: 5px;
	text-align: center;
	font-size: 16px;
	color: #ffffff;
	background-color: #63c3d7;
	border: 0;
}
.btn.btn-yellow {
	background-color: #ffca48;
	color: #383838;
}
.btn.btn-grey {
	background-color: #959595;
}

.b-title {
	display: block;
	font-family: 'BebasNeue', sans-serif;
	font-size: 60px;
	color: #63c3d7;
}

.b-text {
	margin-top: 50px;
	text-align: left;
	font-size: 14px;
}
.b-text img {
	display: block;
	max-width: 100%;
}
.b-text p {
	display: block;
}
.b-text h3 {
	display: block;
	font-size: 20px;
	font-weight: 700;
}

.ekr {
	padding: 50px 0;
}
.ekr.ekr-second {
	padding-top: 90px;
}
.ekr.last-ekr {
	padding-bottom: 90px;
}
.ekr.ekr-left {
	text-align: left;
}
.ekr.ekr-fon {
	padding: 90px 0;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.header {
	position: relative;
	z-index: 100;
}
.header-top {
	padding: 10px 0;
}
.header-top .wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-logo {
	display: block;
	width: 100%;
	max-width: 170px;
}
.header-logo img {
	display: block;
	max-width: 100%;
}
.header-info {
	margin: 0 30px;
	text-align: left;
}
.header-info .adres {
	font-size: 14px;
	color: #63c3d7;
}
.header-info .mode {
	font-size: 12px;
	color: #939393;
	margin-top: 15px;
}
.header-phone {
	font-size: 20px;
	font-weight: 700;
	color: #707070;
}
.header-phone a {
	color: #707070;
}
.header .btn {
	color: #272727;
	background-color: #e1e1e1;
	font-size: 14px;
	max-width: 170px;
	padding: 16px 10px;
	margin-left: 30px;
}
.header-nav {
	padding: 10px 0;
	background-color: #f8f8f6;
}
.header-nav .nav {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-nav .nav > li {
	font-size: 21px;
	font-family: 'BebasNeue';
	font-weight: 500;
}
.header-nav .nav > li > a {
	color: #383838;
}
.header-nav .nav > li.li-drop > a,
.header-nav .nav > li.li-drop > span {
	position: relative;
	padding-right: 20px;
}
.header-nav .nav > li.li-drop > span {
	cursor: default;
}
.header-nav .nav > li.li-drop > a:before,
.header-nav .nav > li.li-drop > span:before {
	content: '';
	width: 10px;
	height: 6px;
	position: absolute;
	right: 0;
	top: calc(50% - 3px);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('../i/header-arr.png');
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.header-nav .nav > li.li-drop:hover > a:before,
.header-nav .nav > li.li-drop:hover > span:before {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
}
.header-nav .nav > li.li-drop .drop {
	display: none;
	position: absolute;
	width: 100%;
	left: 0;
	top: 100%;
	padding-top: 10px;
}
.header-nav .nav > li.li-drop:hover .drop {
	display: block;
}
.header-nav .nav > li.li-drop .drop .drop-wrap {
	width: 100%;
	background-color: #f6f6f6;
	box-shadow: 0 5px 15px 0 rgba(0,0,0,.12), 0 9px 46px 0 rgba(0,0,0,.06);
	text-align: left;
	position: relative;
}
.header-nav .nav > li.li-drop .drop .drop-wrap:before,
.header-nav .nav > li.li-drop .drop .drop-wrap:after {
	content: '';
	width: 1000px;
	height: 100%;
	position: absolute;
	background-color: #f6f6f6;
	top: 0;
}
.header-nav .nav > li.li-drop .drop .drop-wrap:before {
	right: 100%;
}
.header-nav .nav > li.li-drop .drop .drop-wrap:after {
	left: 100%;
}
.header-nav .nav > li.li-drop .drop .drop-wrap .wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}
.header-nav .nav > li.li-drop .drop .drop-wrap .wrap .drop-cat {
	width: 100%;
	max-width: 300px;
	padding: 40px 0;
}
.header-nav .nav > li.li-drop .drop .drop-wrap .wrap .drop-cat > li {
	border-radius: 5px 0 0 5px;
	cursor: pointer;
	font-size: 18px;
	padding: 15px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.header-nav .nav > li.li-drop .drop .drop-wrap .wrap .drop-cat > li:hover {
	background-color: rgba(255,255,255,0.3);
}
.header-nav .nav > li.li-drop .drop .drop-wrap .wrap .drop-cat > li.active {
	background-color: #ffffff;
}
.header-nav .nav > li.li-drop .drop .drop-wrap .wrap .drop-item {
	display: none;
	position: relative;
	width: calc(100% - 300px);
	background-color: #ffffff;
	padding: 55px 0;
	padding-left: 50px;
}
.header-nav .nav > li.li-drop .drop .drop-wrap .wrap .drop-item.active {
	display: block;
}
.header-nav .nav > li.li-drop .drop .drop-wrap .wrap .drop-item:before {
	content: '';
	width: 1000px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 100%;
	background-color: #ffffff;
	z-index: 1;
}
.header-nav .nav > li.li-drop .drop .drop-wrap .wrap .drop-item ul li {
	font-size: 18px;
	margin-bottom: 10px;
}
.header-nav .nav > li.li-drop .drop .drop-wrap .wrap .drop-item ul li:last-child {
	margin-bottom: 0;
}
.mobile-menu .nav > li {
	font-size: 18px;
	border-bottom: 1px solid #cccccc;
	text-align: left;
	font-family: 'BebasNeue', sans-serif;
}
.mobile-menu .nav > li:last-child {
	border: 0;
}
.mobile-menu .nav > li > a, .mobile-menu .nav > li > span {
	display: block;
	position: relative;
	padding: 10px 0;
}
.mobile-menu .nav > li.li-drop > span {
	padding-right: 16px;
	cursor: pointer;
}
.mobile-menu .nav > li.li-drop > span:before {
	content: '';
	width: 10px;
	height: 6px;
	position: absolute;
	right: 0;
	top: calc(50% - 3px);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('../i/header-arr.png');
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.mobile-menu .nav > li.li-drop > .drop {
	display: none;
	width: 100%;
	padding: 70px 30px;
	position: fixed;
	left: -200%;
	top: 0;
	bottom: 0;
	background-color: #ffffff;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.mobile-menu .nav > li.li-drop.active > .drop {
	left: 0;
}
.mobile-menu .nav > li.li-drop > .drop .drop-back {
	padding-left: 16px;
	position: relative;
	position: absolute;
	left: 30px;
	top: 25.5px;
	cursor: pointer;
}
.mobile-menu .nav > li.li-drop > .drop .drop-back:before {
	content: '';
	width: 10px;
	height: 6px;
	position: absolute;
	left: 0;
	top: calc(50% - 3px);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-image: url('../i/header-arr.png');
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.mobile-menu .info {
	margin-top: 20px;
}
.mobile-menu .info .adres {
	font-size: 14px;
	color: #63c3d7;
}
.mobile-menu .info .mode {
	font-size: 12px;
	color: #939393;
	margin-top: 15px;
}
.mobile-menu .phone {
	font-size: 20px;
	font-weight: 700;
	color: #707070;
	margin-top: 20px;
}
.mobile-menu .phone a {
	color: #707070;
}
.header .mobile-menu .btn {
	display: block;
	margin: 20px auto 0;
}

.footer {
	background-color: #464646;
	padding: 60px 0;
	color: #ffffff;
}
.footer-nav {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.footer-nav .item {
	width: calc(200%/7 - 15px);
	text-align: left;
	margin-right: 20px;
}
.footer-nav .item:last-child {
	margin-right: 0;
}
.footer-nav .item.small {
	width: calc(100%/7 - 15px);
}
.footer-nav .item .item-title {
	font-size: 16px;
	font-weight: 500;
}
.footer-nav .item .item-content {
	margin-top: 50px;
}
.footer-nav .item .item-wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.footer-nav .item.small .item-wrap {
	display: block;
}
.footer-nav .item .item-wrap ul {
	width: calc(50% - 10px);
}
.footer-nav .item.small .item-wrap ul {
	width: 100%;
}
.footer-nav .item .item-wrap ul li {
	font-size: 14px;
	color: #ebebeb;
	margin-bottom: 10px;
}
.footer-nav .item .item-wrap ul li a {
	color: #ebebeb;
}
.footer-mid {
	padding: 20px 30px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 50px;
	background-color: #636363;
	border-radius: 5px;
}
.footer-mid .text {
	text-align: left;
	font-size: 14px;
	margin-right: 30px;
}
.footer-mid .text p {
	display: block;
}
.footer-mid .text p a {
	color: #ffffff;
}
.footer-mid .text p a.phone-a {
	font-weight: 700;
	white-space: nowrap;
}
.footer-mid .social {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.footer-mid .social li {
	max-width: 32px;
	margin-right: 15px;
}
.footer-mid .social li:last-child {
	margin-right: 0;
}
.footer-mid .social li img {
	display: block;
	max-width: 100%;
}
.footer-info {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 30px;
	text-align: left;
}
.footer-info .about {
	order: 1;
	width: 100%;
	max-width: 220px;
}
.footer-info .about ul li {
	font-size: 10px;
	color: #959595;
}
.footer-info .about ul li a {
	color: #959595;
}
.footer-info .about .logo-dev {
	display: inline-block;
	margin-top: 20px;
	font-size: 10px;
	color: #959595;
}
.footer-info .about .logo-dev span,
.footer-info .about .logo-dev img {
	display: inline-block;
	vertical-align: middle;
}
.footer-info .about .logo-dev img {
	margin-left: 2px;
}
.footer-info .footer-cookie {
	width: calc(100% - 270px);
}
.footer-info .footer-cookie .cookie {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}
.footer-info .footer-cookie .cookie p {
	display: block;
	width: calc(50% - 15px);
	font-size: 10px;
	color: #959595;
}
.footer-info .footer-cookie .cookie p a {
	color: #959595;
}
.footer-info .footer-cookie .footer-view {
	display: inline-block;
	margin-top: 40px;
	font-size: 16px;
	color: #ebebeb;
}
.footer-info .footer-cookie .footer-view span,
.footer-info .footer-cookie .footer-view img {
	display: inline-block;
	vertical-align: middle;
}
.footer-info .footer-cookie .footer-view img {
	margin-right: 16px;
}

.face-slider {
	position: relative;
}
.face-slider .slick-arrow {
	display: block;
	width: 40px;
	height: 40px;
	border: 0;
	background-color: transparent;
	font-size: 0;
	border-radius: 50%;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	top: calc(50% - 20px);
	z-index: 10;
}
.face-slider .slick-prev {
	background-image: url('../i/face-prev.png');
	left: calc(50% - 680px);
}
.face-slider .slick-next {
	background-image: url('../i/face-next.png');
	right: calc(50% - 680px);
}
.face-slide {
	height: 415px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.breadcrumbs {
	position: relative;
	padding: 15px 0;
}
.breadcrumbs ul {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}
.breadcrumbs ul li {
	margin-right: 5px;
	color: #858585;
	font-size: 12px;
}
.breadcrumbs ul li:last-child {
	margin-right: 0;
}
.breadcrumbs ul li a {
	color: #858585;
}

.filter-wrap {
	margin-top: 50px;
}
.filter-select {
	position: relative;
}
.filter-select-text {
	display: none;
	text-align: left;
	padding: 20px;
	padding-right: 42px;
	position: relative;
	font-size: 16px;
	color: #272727;
	border-radius: 5px;
	border: 1px solid #e1e1e1;
	cursor: pointer;
}
.filter-select-text span {
	display: block;
	white-space: nowrap;
	overflow: hidden;
}
.filter-select-text:before {
	content: '';
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-bottom: 0;
	border-top-color: #959595;
	position: absolute;
	right: 20px;
	top: calc(50% - 3px);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.filter-select.active .filter-select-text {
	border-radius: 5px 5px 0 0;
}
.filter-select.active .filter-select-text:before {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
}
.filter {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: stretch;
}
.filter li {
	width: 100%;
	max-width: 240px;
	padding: 10px 15px;
	text-align: center;
	font-size: 16px;
	color: #272727;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	cursor: pointer;
	background-color: #ffffff;
	box-shadow: 0px 4px 21px 0px rgba(0, 40, 11, 0.19);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.filter li:hover {
	box-shadow: 0px 4px 21px 0px rgba(0, 40, 11, 0.3);
}
.filter li.active {
	color: #ffffff !important;
	background-color: #959595 !important;
}
.filter li:first-child {
	border-radius: 100px 0 0 100px;
}
.filter li:last-child {
	border-radius: 0 100px 100px 0;
}
.filter-item {
	display: none;
	margin-top: 60px;
}
.filter-item.active {
	display: block;
}

.b-services-cards {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
}
.b-services-cards.margin {
	margin-top: 50px;
}
.b-services-cards li {
	position: relative;
	width: calc(100%/3 - 20px);
	border: 1px solid #e1e1e1;
	border-radius: 15px;
	overflow: hidden;
	padding-bottom: 100px;
	margin-right: 30px;
	margin-bottom: 30px;
}
.b-services-cards li:nth-child(3n) {
	margin-right: 0;
}
.b-services-cards li .image {
	width: 100%;
	height: 330px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	box-shadow: inset 0 -60px 60px 0 #ffffff;
}
.b-services-cards li .content {
	padding: 0 10px 30px;
}
.b-services-cards li .name {
	font-size: 24px;
	font-weight: 500;
	color: #939393;
}
.b-services-cards li .btn {
	width: calc(100% - 20px);
	position: absolute;
	bottom: 40px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.b-problems {
	margin-top: 60px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}
.b-problems > li {
	width: calc(100%/3 - 20px);
	margin-right: 30px;
}
.b-problems > li:nth-child(3n) {
	margin-right: 0;
}
.b-problems > li .title {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 21px;
	color: #959595;
	font-weight: 500;
	text-align: left;
}
.b-problems > li .title .icon {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-image: linear-gradient( -50deg, rgb(255,130,18) 0%, rgb(255,162,80) 100%);
	box-shadow: 0px 2px 6px 0px rgba(47, 41, 39, 0.36);
	position: relative;
}
.b-problems > li .title .icon:before {
	content: '?';
	display: block;
	font-size: 25px;
	font-weight: 500;
	color: #ffffff;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.b-problems > li .title span {
	display: block;
	width: calc(100% - 60px);
}
.b-problems > li .text {
	padding: 50px 60px;
	border: 1px solid #e1e1e1;
	border-radius: 15px;
	background-color: #ffffff;
	text-align: left;
	margin-top: 30px;
	color: #939393;
	font-size: 14px;
}

.b-working {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
	margin-top: 30px;
}
.b-working li {
	position: relative;
	width: calc(25% - 22.5px);
	margin-right: 30px;
	margin-top: 60px;
	padding: 60px 35px 35px;
	box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.15);
	border-radius: 15px;
	background-color: #ffffff;
	text-align: left;
}
.b-working li:nth-child(4n) {
	margin-right: 0;
}
.b-working li .number {
	width: 68px;
	height: 68px;
	background-color: #ffca48;
	position: absolute;
	left: 18px;
	top: -34px;
	border-radius: 50%;
	color: #ffffff;
}
.b-working li .number span {
	display: block;
	line-height: 1;
	font-size: 30px;
	font-weight: 700;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.b-working li .title {
	font-size: 18px;
	font-weight: 700;
	color: #959595;
}
.b-working li .text {
	margin-top: 20px;
	font-size: 14px;
}

.b-banner {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	padding: 40px 40px 0;
	border-radius: 15px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-top: 70px;
	text-align: left;
	color: #ffffff;
}
.b-banner .image {
	position: relative;
	width: calc(50% - 45px);
}
.b-banner .image img {
	display: block;
	max-width: 100%;
	max-height: calc(100% + 55px);
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.b-banner .content {
	width: calc(50% + 15px);
	padding: 50px 0 85px;
}
.b-banner .content .title {
	font-size: 40px;
	font-weight: 700;
}
.b-banner .content .text {
	margin-top: 20px;
	font-size: 21px;
}
.b-banner .btn {
	font-size: 14px;
	padding: 16px 10px;
	margin-top: 70px;
}

.b-callback {
	margin-top: 50px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: left;
}
.b-callback .phone {
	width: calc(50% - 50px);
}
.b-callback .phone p {
	display: block;
	font-size: 24px;
	color: #959595;
	margin-bottom: 10px;
}
.b-callback .phone a {
	font-weight: 700;
	color: #383838;
	font-size: 35px;
}
.b-callback .callback {
	position: relative;
	width: calc(50% - 50px);
	border-radius: 15px;
	background-color: #ffffff;
	box-shadow: 0px 7px 27px 0px rgba(12, 33, 76, 0.13);
	padding: 40px 30px;
}
.b-callback .callback:before {
	content: '';
	width: 1px;
	height: 100%;
	max-height: 230px;
	background-color: #cccccc;
	position: absolute;
	left: -50.5px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.b-form {
	margin: 0 auto;
	width: 100%;
	max-width: 330px;
}
.b-form .title {
	font-size: 24px;
	font-weight: 500;
	color: #2d2d2d;
	margin-bottom: 25px;
}
.b-input {
	margin-bottom: 15px;
}
.b-input input, .b-input textarea {
	display: block;
	width: 100%;
	border: 1px solid #f1f1f1;
	background-color: #f1f1f1;
	color: #383838;
	padding: 15px 25px;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.b-input textarea {
	resize: none;
}
.b-form .btn {
	font-size: 14px;
	padding: 16px 10px;
	max-width: none;
}

.b-service-problems {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
	margin-top: 50px;
}
.b-service-problems .item {
	width: calc(100%/3 - 20px);
	position: relative;
	padding: 40px 55px;
	background-color: #ffffff;
	border: 1px solid #e1e1e1;
	border-radius: 15px;
	margin-bottom: 30px;
	text-align: left;
	color: #939393;
}
.b-service-problems .item.big {
	width: 100%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.b-service-problems .item .image {
	height: 140px;
	position: relative;
}
.b-service-problems .item.big .image {
	height: auto;
	width: calc(40% - 15px);
}
.b-service-problems .item img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.b-service-problems .item.big img {
	position: relative;
	left: 0;
	top: 0;
	-webkit-transform: translate(0,0);
	-moz-transform: translate(0,0);
	-ms-transform: translate(0,0);
	transform: translate(0,0);
}
.b-service-problems .item .content {
	width: 100%;
	margin-top: 10px;
}
.b-service-problems .item.big .content {
	margin: 0;
	width: calc(60% - 15px);
}
.b-service-problems .item .name {
	display: block;
	font-size: 24px;
	font-weight: 500;
}
.b-service-problems .item .text {
	font-size: 14px;
	margin-top: 25px;
}

.b-text-img {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.b-text-img .image {
	position: relative;
	width: calc(50% - 45px);
}
.b-text-img .image img {
	display: block;
	max-width: 100%;
	border-radius: 15px;
}
.b-text-img .content {
	width: calc(50% + 15px);
	text-align: left;
}
.b-text-img .content .title {
	display: block;
	font-size: 24px;
	color: #959595;
	font-weight: 500;
}
.b-text-img .content .text {
	margin-top: 30px;
	font-size: 14px;
	color: #272727;
}

.b-qwestions {
	margin-top: 40px;
}
.b-qwestions > li {
	width: 100%;
	max-width: 830px;
	margin: 0 auto;
	border-bottom: 1px solid #e1e1e1;
	text-align: left;
	background-color: #ffffff;
}
.b-qwestions > li .qwestion {
	position: relative;
	padding: 20px 0;
	padding-right: 40px;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	color: #959595;
}
.b-qwestions > li .qwestion:before {
	content: '';
	width: 19px;
	height: 10px;
	position: absolute;
	right: 0;
	top: calc(50% - 5px);
	background-repeat: no-repeat;
	background-image: url('../i/qwest-arr.png');
	background-position: center;
	background-size: contain;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-qwestions > li.active .qwestion:before {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
}
.b-qwestions > li .answer {
	height: 0;
	overflow: hidden;
}
.b-qwestions > li .answer .text {
	font-size: 14px;
	padding: 10px 0 30px;
}

.b-form-wrap {
	width: 100%;
	max-width: 630px;
	margin: 50px auto 0;
}
.b-form-wrap .name {
	border-radius: 15px 15px 0 0;
	background-color: #959595;
	color: #ffffff;
	font-size: 18px;
	padding: 30px;
}
.b-form-wrap .content {
	padding: 50px 30px;
	border: 1px solid #e1e1e1;
	border-radius: 0 0 15px 15px;
	border-top: 0;
	background-color: #ffffff;
}

.face {
	position: relative;
	background-color: #f8f8f6;
	overflow: hidden;
}
.face .wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.face .wrap .content {
	width: calc(50% + 15px);
	text-align: left;
	padding: 60px 0;
}
.face .wrap .content .b-title {
	font-size: 65px;
}
.face .wrap .content .text {
	font-size: 14px;
	margin-top: 25px;
}
.face .wrap .content .btn {
	max-width: 240px;
	padding: 16px 10px;
	font-size: 14px;
	margin-top: 50px;
}
.face .wrap .image {
	position: relative;
	width: calc(50% - 45px);
}
.face .wrap .image img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	margin-left: auto;
}

.b-advs {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
}
.b-advs > li {
	width: calc(100%/3 - 20px);
	border: 1px solid #e1e1e1;
	border-radius: 15px;
	padding: 40px 30px;
	background-color: #ffffff;
	margin-right: 30px;
	margin-bottom: 30px;
	text-align: left;
}
.b-advs > li:nth-child(3n) {
	margin-right: 0;
}
.b-advs > li .line {
	display: block;
	width: 100px;
	height: 4px;
	background-color: #63c3d7;
	margin-bottom: 25px;
}
.b-advs > li .title {
	display: block;
	color: #939393;
	font-size: 24px;
	font-weight: 500;
}
.b-advs > li .text {
	display: block;
	font-size: 14px;
	color: #939393;
	margin-top: 25px;
}

.b-types {
	margin: 40px auto 0;
	max-width: 970px;
}
.b-types > li {
	padding: 40px 30px;
	border-radius: 15px;
	margin-bottom: 30px;
	background-color: #ffffff;
	border: 1px solid #e1e1e1;
	text-align: left;
}
.b-types > li:last-child {
	margin-bottom: 0;
}
.b-types > li .content {
	margin: 0 auto;
	width: 100%;
	max-width: 700px;
}
.b-types > li .title {
	font-size: 24px;
	font-weight: 500;
	color: #939393;
}
.b-types > li .text {
	margin-top: 25px;
	font-size: 14px;
	color: #939393;
}

.b-news {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
	margin-top: 50px;
}
.b-news > li {
	width: calc(100%/3 - 20px);
	margin-bottom: 30px;
	margin-right: 30px;
	background-color: #ffffff;
	border-radius: 15px;
	overflow: hidden;
	text-align: left;
	border: 1px solid #e1e1e1;
}
.b-news > li:nth-child(3n) {
	margin-right: 0;
}
.b-news > li a {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
}
.b-news > li .image {
	height: 200px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.b-news > li .content {
	padding: 30px 30px 70px;
}
.b-news > li .name {
	font-size: 20px;
	color: #939393;
	font-weight: 500;
}
.b-news > li .date {
	position: absolute;
	bottom: 20px;
	right: 30px;
	font-size: 14px;
	color: #939393;
}

.b-news-item .name {
	display: block;
	font-size: 24px;
	color: #939393;
	font-weight: 500;
}

.scroll-wrap {
	margin-top: 30px;
	position: relative;
	padding-right: 300px;
}
.scroll-wrap-banner {
	display: block;
	width: 100%;
	max-width: 270px;
	position: absolute;
	right: 0;
	top: 0;
	background-color: #f8f8f6;
	padding: 20px;
	border-radius: 10px;
	overflow: hidden;
	text-align: center;
}
.scroll-wrap-banner.scroll {
	position: fixed;
	right: calc(50% - 585px);
	top: 30px;
}
.scroll-wrap-banner.bottom {
	top: auto;
	bottom: 0;
}
.scroll-wrap-banner .title {
	font-size: 18px;
	font-weight: 500;
	color: #939393;
	margin-bottom: 30px;
}
.scroll-wrap-banner .btn {
	max-width: 200px;
	margin: 0 auto 15px;
	font-size: 14px;
	padding: 16px 10px;
}
.scroll-wrap-banner img {
	display: block;
	max-width: 100%;
	margin: 30px auto 0;
}

.b-contacts {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
	margin-top: 50px;
}
.b-contacts > li {
	width: calc(100%/3 - 20px);
	margin-right: 30px;
	margin-bottom: 30px;
	border: 1px solid #e1e1e1;
	border-radius: 15px;
	padding: 30px;
	text-align: left;
}
.b-contacts > li:nth-child(3n) {
	margin-right: 0;
}
.b-contacts > li .title {
	display: block;
	font-size: 16px;
}
.b-contacts > li .text {
	margin-top: 20px;
	font-size: 20px;
	color: #939393;
	font-weight: 500;
}
.b-contacts > li .text a {
	color: #939393;
}
.map {
	position: relative;
	height: 400px;
	width: 100%;
	margin-top: 30px;
}
.map iframe {
	display: block;
	width: 100% !important;
	height: 100% !important;
}

.b-stocks {
	margin-top: 60px;
}
.b-stocks > li {
	padding: 45px calc(100% - 640px) 45px 70px;
	background-color: #ffffff;
	border: 1px solid #e1e1e1;
	border-radius: 15px;
	overflow: hidden;
	position: relative;
	margin-bottom: 30px;
	color: #939393;
	text-align: left;
}
.b-stocks > li:last-child {
	margin-bottom: 0;
}
.b-stocks > li .name {
	display: block;
	font-size: 24px;
	font-weight: 500;
}
.b-stocks > li .date {
	display: inline-block;
	padding: 11px 30px;
	border-radius: 5px;
	background-color: #959595;
	color: #ffffff;
	font-size: 14px;
	margin-top: 20px;
}
.b-stocks > li .text {
	font-size: 14px;
	margin-top: 25px;
	max-width: 390px;
}
.b-stocks > li .abs-img {
	display: block;
	max-height: 100%;
	position: absolute;
	right: 0;
	bottom: 0;
	/*top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);*/
}

.b-prices {
	margin: 0 auto;
	max-width: 830px;
}
.b-prices .cat {
	margin-bottom: 60px;
}
.b-prices .cat:last-child {
	margin-bottom: 0;
}
.b-prices .cat .title {
	display: block;
	font-size: 20px;
	font-weight: 500;
	color: #939393;
}
.b-prices .cat ul {
	margin-top: 30px;
}
.b-prices .cat ul li {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #e1e1e1;
	padding: 20px 0;
}
.b-prices .cat ul li .name {
	margin-right: 30px;
	font-size: 16px;
}
.b-prices .cat ul li .price {
	font-size: 16px;
	color: #63c3d7;
	font-weight: 500;
	white-space: nowrap;
}

.b-about {
	margin-top: 50px;
}
.b-about-slider {
	position: relative;
}
.b-about-slider .slick-arrow {
	display: block;
	width: 40px;
	height: 40px;
	font-size: 0;
	border: 0;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-color: transparent;
	position: absolute;
	top: calc(50% - 20px);
	z-index: 10;
}
.b-about-slider .slick-prev {
	background-image: url('../i/about-prev.png');
	left: 30px;
}
.b-about-slider .slick-next {
	background-image: url('../i/about-next.png');
	right: 30px;
}
.b-about-slider .slide img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
	border-radius: 15px;
}
.b-about .b-text {
	margin-top: 40px;
}

.b-doctors {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
	margin-top: 50px;
}
.b-doctors > li {
	width: calc(25% - 22.5px);
	border: 1px solid #e1e1e1;
	border-radius: 10px;
	overflow: hidden;
	margin-right: 30px;
	margin-bottom: 30px;
	text-align: left;
}
.b-doctors > li:nth-child(4n) {
	margin-right: 0;
}
.b-doctors > li .image {
	height: 310px;
	position: relative;
}
.b-doctors > li .image img {
	display: block;
	max-height: 100%;
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.b-doctors > li .content {
	padding: 25px;
}
.b-doctors > li .name {
	font-size: 20px;
	font-weight: 500;
	color: #959595;
}
.b-doctors > li .text {
	font-size: 14px;
	margin-top: 20px;
}

.b-serts {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-top: 50px;
}
.b-serts > li {
	width: calc(25% - 22.5px);
	margin-right: 30px;
	margin-bottom: 30px;
}
.b-serts > li:nth-child(4n) {
	margin-right: 0;
}
.b-serts > li img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
	box-shadow: 0px 6px 18px 0px rgba(31, 31, 33, 0.21);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-serts > li a:hover img {
	box-shadow: 0px 6px 18px 0px rgba(31, 31, 33, 0.4);
}

.b-docs {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-top: 50px;
}
.b-docs > li {
	width: calc(100%/6 - 25px);
	margin-right: 30px;
	margin-bottom: 30px;
	text-align: center;
}
.b-docs > li:nth-child(6n) {
	margin-right: 0;
}
.b-docs > li a {
	display: inline-block;
	text-align: left;
	font-size: 14px;
}
.b-docs > li img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.b-docs > li .name {
	font-size: 20px;
	font-weight: 500;
	color: #959595;
	margin-top: 30px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-docs > li span {
	display: block;
	margin-top: 15px;
}

.b-thanks {
	position: relative;
	padding: 50px 0;
}
.b-thanks .wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	min-height: calc(100vh - 249px);
}
.b-thanks .wrap .content {
	width: calc(50% + 15px);
	text-align: left;
}
.b-thanks .wrap .content .text {
	font-size: 20px;
	margin-top: 50px;
}
.b-thanks .wrap .image {
	width: calc(50% - 45px);
}
.b-thanks .wrap .image img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

.b-error {
	position: relative;
	padding: 50px 0;
}
.b-error .wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	min-height: calc(100vh - 249px);
}
.b-error .wrap .content {
	width: 100%;
	text-align: center;
}
.b-error .wrap .content img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.b-error .wrap .content .text {
	font-size: 16px;
	margin-top: 45px;
}
.b-error .wrap .content .btn {
	margin: 45px auto 0;
	max-width: 370px;
	padding: 16px 10px;
}

.popup {
	padding: 30px;
	width: 95%;
	max-width: 560px;
	text-align: center;
}
.popup .title {
	display: block;
	font-size: 24px;
	font-weight: 700;
}
.popup .subtitle {
	margin-top: 15px;
	font-size: 16px;
}
.popup .b-form {
	margin-top: 30px;
}




@media screen and (max-width: 1380px){
	.face-slider .slick-prev {
		left: 10px;
	}
	.face-slider .slick-next {
		right: 10px;
	}
}
@media screen and (max-width: 1280px){
	.footer-nav {
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.footer-nav .item {
		width: calc(50% - 15px);
		margin-right: 0;
		margin-bottom: 30px;
	}
	.footer-nav .item.small {
		width: calc(50% - 15px);
	}
	.footer-nav .item .item-content {
		margin-top: 25px;
	}
	.footer-mid {
		margin-top: 20px;
		display: block;
	}
	.footer-mid .text {
		margin: 0 auto 20px;
	}
	.footer-mid .social {
		justify-content: center;
	}
	.footer-mid .social li {
		margin: 0 5px !important;
	}

	.face-slide {
		height: 335px;
	}

	.b-problems > li .text {
		padding: 30px;
	}

	.b-working li {
		width: calc(100%/3 - 20px);
	}
	.b-working li:nth-child(4n) {
		margin-right: 30px;
	}
	.b-working li:nth-child(3n) {
		margin-right: 0;
	}

	.b-service-problems .item {
		padding: 30px;
	}

	.scroll-wrap-banner.scroll {
		right: 30px;
	}

	.b-stocks > li {
		padding: 45px;
		padding-right: 400px;
	}
	.b-stocks > li .abs-img {
		max-width: 370px;
	}

	.b-doctors > li {
		width: calc(100%/3 - 20px);
	}
	.b-doctors > li:nth-child(4n) {
		margin-right: 30px;
	}
	.b-doctors > li:nth-child(3n) {
		margin-right: 0;
	}
}
@media screen and (max-width: 1024px){
	.header-info, .header-nav, .header .btn {
		display: none;
	}
	.mobile-menu .nav > li.li-drop > .drop {
		display: block;
	}

	.footer-info .footer-cookie .cookie {
		display: block;
	}
	.footer-info .footer-cookie .cookie p {
		width: 100%;
		margin-bottom: 15px;
	}
	.footer-info .footer-cookie .footer-view {
		margin-top: 20px;
	}

	.face-slide {
		height: 260px;
	}

	.filter-select {
		max-width: 460px;
		margin: 0 auto;
	}
	.filter-select-text {
		display: block;
	}
	.filter {
		display: none;
		position: absolute;
		left: 0;
		top: 100%;
		width: 100%;
		max-height: 250px;
		overflow-x: hidden;
		overflow-y: auto;
		padding-bottom: 5px;
		border-radius: 0 0 5px 5px;
		border: 1px solid #e1e1e1;
		border-top: 0;
		z-index: 10;
		background-color: #ffffff;
	}
	.filter-select.active .filter {
		display: block;
	}
	.filter li {
		display: block;
		width: 100%;
		max-width: none;
		padding: 5px 10px;
		box-shadow: none;
		text-align: left;
		border-radius: 0 !important;
		font-size: 14px;
	}
	.filter li:hover {
		box-shadow: none;
		color: #63c3d7;
	}

	.b-services-cards {
		justify-content: space-between;
		max-width: 770px;
		margin: 0 auto;
	}
	.b-services-cards li {
		width: calc(50% - 15px);
		margin-right: 0;
	}

	.b-problems {
		justify-content: space-between;
	}
	.b-problems > li {
		width: calc(50% - 15px);
		margin-right: 0;
		margin-bottom: 30px;
	}
	.b-problems > li .text {
		margin-top: 15px;
	}

	.b-working {
		justify-content: space-between;
	}
	.b-working li {
		width: calc(50% - 15px);
		margin-right: 0;
	}
	.b-working li:nth-child(4n) {
		margin-right: 0;
	}

	.b-banner .content {
		padding: 30px 0 50px;
	}
	.b-banner .content .title {
		font-size: 30px;
	}
	.b-banner .btn {
		margin-top: 40px;
	}

	.b-service-problems .item {
		width: calc(50% - 15px);
	}

	.face .wrap {
		align-items: stretch;
	}
	.face .wrap .content {
		width: calc(60% - 10px);
		padding: 50px 0;
	}
	.face .wrap .content .b-title {
		font-size: 60px;
	}
	.face .wrap .content .btn {
		margin-top: 40px;
	}
	.face .wrap .image {
		width: calc(40% - 10px);
	}
	.face .wrap .image img {
		max-width: none;
		position: absolute;
		left: 0;
		bottom: 0;
	}

	.b-advs {
		justify-content: space-between;
	}
	.b-advs > li {
		width: calc(50% - 15px);
		margin-right: 0;
	}

	.b-news {
		justify-content: space-between;
	}
	.b-news > li {
		width: calc(50% - 15px);
		margin-right: 0;
	}

	.b-contacts {
		justify-content: space-between;
	}
	.b-contacts > li {
		width: calc(50% - 15px);
		margin-right: 0;
	}

	.b-stocks > li {
		padding-right: 350px;
	}
	.b-stocks > li .abs-img {
		max-width: 330px;
	}

	.b-serts > li {
		width: calc(100%/3 - 20px);
	}
	.b-serts > li:nth-child(4n) {
		margin-right: 30px;
	}
	.b-serts > li:nth-child(3n) {
		margin-right: 0;
	}

	.b-docs > li {
		width: calc(25% - 22.5px);
	}
	.b-docs > li:nth-child(6n) {
		margin-right: 30px;
	}
	.b-docs > li:nth-child(4n) {
		margin-right: 0;
	}

	.b-thanks .wrap, .b-error .wrap {
		min-height: calc(100vh - 208px);
	}
}
@media screen and (max-width: 768px){
	.btn {
		font-size: 14px;
		padding: 16px 10px;
	}

	.b-title {
		font-size: 30px;
	}

	.b-text {
		margin-top: 20px;
		font-size: 12px;
	}
	.b-text h3 {
		font-size: 16px;
	}

	.ekr {
		padding: 25px 0;
	}
	.ekr.ekr-second {
		padding-top: 50px;
	}
	.ekr.last-ekr {
		padding-bottom: 50px;
	}
	.ekr.ekr-fon {
		padding: 50px 0;
	}

	.header-logo {
		max-width: 120px;
	}
	.header-phone {
		font-size: 16px;
	}
	.header .btn {
		font-size: 12px;
		padding: 15px 10px;
	}
	.mobile-menu .nav > li {
		font-size: 16px;
	}
	.mobile-menu .nav > li.li-drop > .drop {
		padding: 50px 10px;
	}
	.mobile-menu .nav > li.li-drop > .drop .drop-back {
		top: 19px;
		left: 10px;
	}
	.mobile-menu .info {
		margin-top: 15px;
	}
	.mobile-menu .info .adres {
		font-size: 12px;
	}
	.mobile-menu .info .mode {
		font-size: 10px;
		margin-top: 5px;
	}
	.mobile-menu .phone {
		margin-top: 15px;
		font-size: 16px;
	}
	.header .mobile-menu .btn {
		margin: 15px auto 0;
	}

	.footer {
		padding: 30px 0;
	}
	.footer-nav {
		display: block;
	}
	.footer-nav .item, .footer-nav .item.small {
		width: 100%;
		margin: 0 auto 10px;
		border-bottom: 1px solid #ffffff;
		padding: 10px 0;
	}
	.footer-nav .item:last-child {
		margin: 0 auto;
	}
	.footer-nav .item .item-title {
		font-size: 14px;
		margin-bottom: 10px;
		position: relative;
		padding-right: 20px;
		cursor: pointer;
	}
	.footer-nav .item .item-title:before {
		content: '';
		width: 0;
		height: 0;
		border: 5px solid transparent;
		border-bottom: 0;
		border-top-color: #ffffff;
		position: absolute;
		right: 0;
		top: calc(50% - 2.5px);
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		transition: all 0.3s;
	}
	.footer-nav .item.active .item-title:before {
		-webkit-transform: rotate(-180deg);
		-moz-transform: rotate(-180deg);
		-ms-transform: rotate(-180deg);
		transform: rotate(-180deg);
	}
	.footer-nav .item .item-content {
		height: 0;
		overflow: hidden;
		margin-top: 0;
	}
	.footer-nav .item .item-wrap {
		display: block;
	}
	.footer-nav .item .item-wrap ul {
		width: 100%;
	}
	/*.footer-nav .item .item-wrap ul:last-child li:last-child {
		margin-bottom: 0;
	}*/
	.footer-nav .item .item-wrap ul li {
		font-size: 12px;
	}
	.footer-mid {
		padding: 15px;
	}
	.footer-mid .text {
		text-align: center;
		font-size: 12px;
		margin: 0 auto 15px;
	}
	.footer-info {
		display: block;
		margin-top: 20px;
		text-align: center;
	}
	.footer-info .about {
		max-width: none;
	}
	.footer-info .footer-cookie {
		width: 100%;
		margin-top: 20px;
	}
	.footer-info .footer-cookie .cookie p:last-child {
		margin-bottom: 0;
	}
	.footer-info .footer-cookie .footer-view {
		margin-top: 15px;
		font-size: 14px;
	}
	.footer-info .footer-cookie .footer-view img {
		max-width: 50px;
		margin-right: 6px;
	}

	.breadcrumbs {
		padding: 10px 0;
	}
	.breadcrumbs ul li {
		font-size: 10px;
	}

	.face-slider .slick-arrow {
		width: 30px;
		height: 30px;
		top: calc(50% - 15px);
	}
	.face-slide {
		height: 190px;
	}

	.filter-wrap {
		margin-top: 20px;
	}
	.filter-select-text {
		font-size: 14px;
		padding: 15px;
		padding-right: 37px;
	}
	.filter-select-text:before {
		right: 15px;
	}
	.filter li {
		font-size: 12px;
	}
	.filter-item {
		margin-top: 20px;
	}

	.b-services-cards {
		max-width: 560px;
	}
	.b-services-cards.margin {
		margin-top: 30px;
	}
	.b-services-cards li {
		width: calc(50% - 10px);
		margin-bottom: 20px;
		padding-bottom: 70px;
	}
	.b-services-cards li .image {
		height: 240px;
		box-shadow: inset 0 -30px 30px 0 #ffffff;
	}
	.b-services-cards li .content {
		padding: 0 10px 20px;
	}
	.b-services-cards li .name {
		font-size: 18px;
	}
	.b-services-cards li .btn {
		bottom: 20px;
	}

	.b-problems {
		margin-top: 30px;
	}
	.b-problems li {
		width: calc(50% - 10px);
		margin-bottom: 20px;
	}
	.b-problems > li .title {
		font-size: 16px;
	}
	.b-problems > li .title .icon {
		width: 35px;
		height: 35px;
	}
	.b-problems > li .title .icon:before {
		font-size: 20px;
	}
	.b-problems > li .title span {
		width: calc(100% - 45px);
	}
	.b-problems > li .text {
		padding: 15px;
		font-size: 12px;
	}

	.b-working {
		margin-top: 0;
	}
	.b-working li {
		width: calc(50% - 10px);
		margin-top: 43px;
		padding: 38px 15px 15px;
	}
	.b-working li .number {
		width: 46px;
		height: 46px;
		top: -23px;
		left: 5px;
	}
	.b-working li .number span {
		font-size: 20px;
	}
	.b-working li .title {
		font-size: 16px;
	}
	.b-working li .text {
		font-size: 12px;
		margin-top: 10px;
	}

	.b-banner {
		padding: 15px 15px 0;
		margin-top: 30px;
	}
	.b-banner .image img {
		max-height: calc(100% + 20px);
	}
	.b-banner .content {
		padding: 20px 0 35px;
	}
	.b-banner .content .title {
		font-size: 22px;
	}
	.b-banner .content .text {
		margin-top: 15px;
		font-size: 16px;
	}
	.b-banner .btn {
		margin-top: 20px;
		font-size: 12px;
		padding: 15px 10px;
	}

	.b-callback {
		margin-top: 30px;
		display: block;
		text-align: center;
	}
	.b-callback .phone {
		width: 100%;
	}
	.b-callback .phone p {
		font-size: 16px;
		margin-bottom: 5px;
	}
	.b-callback .phone a {
		font-size: 20px;
	}
	.b-callback .callback {
		width: 100%;
		max-width: 480px;
		margin: 20px auto 0;
		padding: 15px;
	}
	.b-callback .callback:before {
		content: none;
	}

	.b-form .title {
		margin-bottom: 15px;
		font-size: 18px;
	}

	.b-service-problems {
		margin-top: 30px;
	}
	.b-service-problems .item {
		width: calc(50% - 10px);
		margin-bottom: 20px;
		padding: 15px;
	}
	.b-service-problems .item .name {
		font-size: 18px;
	}
	.b-service-problems .item .text {
		font-size: 12px;
		margin-top: 10px;
	}

	.b-text-img .image {
		width: calc(50% - 10px);
	}
	.b-text-img .content {
		width: calc(50% - 10px);
	}
	.b-text-img .content .title {
		font-size: 18px;
	}
	.b-text-img .content .text {
		font-size: 12px;
		margin-top: 10px;
	}

	.b-qwestions {
		margin-top: 20px;
	}
	.b-qwestions > li .qwestion {
		padding: 10px 0;
		padding-right: 25px;
		font-size: 16px;
	}
	.b-qwestions > li .qwestion:before {
		width: 16px;
		height: 8px;
		top: calc(50% - 4px);
	}
	.b-qwestions > li .answer .text {
		font-size: 12px;
		padding: 5px 0 10px;
	}

	.b-form-wrap {
		margin: 20px auto 0;
		max-width: 560px;
	}
	.b-form-wrap .name {
		font-size: 14px;
		padding: 15px 10px;
		border-radius: 10px 10px 0 0;
	}
	.b-form-wrap .content {
		padding: 20px 10px;
		border-radius: 0 0 10px 10px;
	}

	.face .wrap .content {
		padding: 30px 0;
	}
	.face .wrap .content .b-title {
		font-size: 30px;
	}
	.face .wrap .content .text {
		font-size: 12px;
		margin-top: 15px;
	}
	.face .wrap .content .btn {
		margin-top: 20px;
		padding: 12px 10px;
		font-size: 12px;
	}

	.b-advs > li {
		width: calc(50% - 10px);
		padding: 20px;
		margin-bottom: 20px;
	}
	.b-advs > li .line {
		height: 2px;
		width: 70px;
		margin-bottom: 15px;
	}
	.b-advs > li .title {
		font-size: 18px;
	}
	.b-advs > li .text {
		font-size: 12px;
		margin-top: 15px;
	}

	.b-types {
		margin-top: 20px;
	}
	.b-types > li {
		margin-bottom: 15px;
		padding: 20px;
	}
	.b-types > li .title {
		font-size: 18px;
	}
	.b-types > li .text {
		margin-top: 15px;
		font-size: 12px;
	}

	.b-news {
		margin-top: 30px;
	}
	.b-news > li {
		width: calc(50% - 10px);
		margin-bottom: 20px;
	}
	.b-news > li .content {
		padding: 15px 15px 45px;
	}
	.b-news > li .name {
		font-size: 16px;
	}
	.b-news > li .date {
		font-size: 12px;
		bottom: 15px;
	}

	.b-news-item .name {
		font-size: 18px;
	}

	.scroll-wrap {
		margin-top: 20px;
		padding-right: 0;
	}
	.scroll-wrap-banner {
		position: relative;
		margin: 20px auto 0;
	}
	.scroll-wrap-banner .title {
		font-size: 16px;
		margin-bottom: 15px;
	}
	.scroll-wrap-banner .btn {
		font-size: 12px;
		padding: 15px 10px;
		margin: 0 auto 10px;
	}
	.scroll-wrap-banner img {
		margin: 15px auto 0;
		max-height: 150px;
	}

	.b-contacts {
		margin-top: 30px;
	}
	.b-contacts > li {
		width: calc(50% - 10px);
		margin-bottom: 20px;
		padding: 15px;
	}
	.b-contacts > li .title {
		font-size: 14px;
	}
	.b-contacts > li .text {
		font-size: 16px;
		margin-top: 10px;
	}
	.map {
		margin-top: 10px;
		height: 300px;
	}

	.b-stocks {
		margin-top: 20px;
	}
	.b-stocks > li {
		padding: 15px;
		padding-right: calc(40% + 15px);
		border-radius: 10px;
		margin-bottom: 10px;
	}
	.b-stocks > li .name {
		font-size: 18px;
	}
	.b-stocks > li .date {
		padding: 10px 15px;
		font-size: 12px;
		margin-top: 10px;
	}
	.b-stocks > li .text {
		font-size: 12px;
		margin-top: 15px;
	}
	.b-stocks > li .abs-img {
		max-width: none;
		right: auto;
		left: 60%;
	}

	.b-prices .cat {
		margin-bottom: 30px;
	}
	.b-prices .cat .title {
		font-size: 16px;
	}
	.b-prices .cat ul {
		margin-top: 10px;
	}
	.b-prices .cat ul li {
		padding: 10px 0;
	}
	.b-prices .cat ul li .name {
		font-size: 12px;
		margin-right: 15px;
	}
	.b-prices .cat ul li .price {
		font-size: 12px;
	}

	.b-about {
		margin-top: 20px;
	}
	.b-about-slider .slick-arrow {
		width: 24px;
		height: 24px;
		top: calc(50% - 12px);
	}
	.b-about-slider .slick-prev {
		left: 10px;
	}
	.b-about-slider .slick-next {
		right: 10px;
	}
	.b-about .b-text {
		margin-top: 20px;
	}

	.b-doctors {
		justify-content: space-between;
		margin-top: 30px;
	}
	.b-doctors > li {
		width: calc(50% - 10px);
		margin-right: 0;
		margin-bottom: 20px;
	}
	.b-doctors > li:nth-child(4n) {
		margin-right: 0;
	}
	.b-doctors > li .content {
		padding: 15px;
	}
	.b-doctors > li .name {
		font-size: 16px;
	}
	.b-doctors > li .text {
		font-size: 12px;
		margin-top: 10px;
	}

	.b-serts {
		margin-top: 30px;
		justify-content: space-between;
	}
	.b-serts > li {
		width: calc(50% - 10px);
		margin-bottom: 20px;
		margin-right: 0;
	}
	.b-serts > li:nth-child(4n) {
		margin-right: 0;
	}
	.b-serts > li img {
		max-height: 300px;
	}

	.b-docs {
		margin-top: 30px;
	}
	.b-docs > li {
		width: calc(100%/3 - 10px);
		margin-right: 15px;
		margin-bottom: 20px;
	}
	.b-docs > li:nth-child(6n),
	.b-docs > li:nth-child(4n) {
		margin-right: 15px;
	}
	.b-docs > li:nth-child(3n) {
		margin-right: 0;
	}
	.b-docs > li .name {
		font-size: 16px;
		margin-top: 10px;
	}
	.b-docs > li a {
		font-size: 12px;
	}
	.b-docs > li span {
		margin-top: 5px;
	}

	.b-thanks, .b-error {
		padding: 30px 0;
	}
	.b-thanks .wrap, .b-error .wrap {
		min-height: calc(100vh - 142px);
	}
	.b-thanks .wrap .content .text {
		font-size: 14px;
		margin-top: 20px;
	}

	.b-error .wrap .content .text {
		margin-top: 20px;
		font-size: 14px;
	}
	.b-error .wrap .content .btn {
		margin: 20px auto 0;
	}

	.popup {
		padding: 30px 15px;
	}
	.popup .title {
		font-size: 20px;
	}
	.popup .subtitle {
		font-size: 14px;
		margin-top: 10px;
	}
	.popup .b-form {
		margin-top: 15px;
	}
}
@media screen and (max-width: 560px){
	.header-phone {
		display: none;
	}

	.face-slide {
		height: 140px;
	}

	.b-services-cards {
		display: block;
		max-width: none;
	}
	.b-services-cards li {
		width: 100%;
		max-width: 270px;
		margin: 0 auto 20px;
		padding-bottom: 0;
	}
	.b-services-cards li:nth-child(3n) {
		margin-right: auto;
	}
	.b-services-cards li:last-child {
		margin-bottom: 0;
	}
	.b-services-cards li .btn {
		width: 100%;
		margin: 15px auto 0;
		position: relative;
		left: 0;
		top: 0;
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	.b-problems {
		display: block;
	}
	.b-problems > li {
		width: 100%;
		margin: 0 auto 20px;
	}
	.b-problems > li:nth-child(3n) {
		margin-right: auto;
	}
	.b-problems > li:last-child {
		margin-bottom: 0;
	}

	.b-working {
		display: block;
	}
	.b-working li {
		width: 100%;
		margin: 43px auto 0;
	}
	.b-working li:nth-child(4n), .b-working li:nth-child(3n) {
		margin-right: auto;
	}

	.b-banner {
		padding: 30px 15px;
	}
	.b-banner .image {
		width: calc(45% - 15px);
	}
	.b-banner .image img {
		max-height: 100%;
		top: 50%;
		-webkit-transform: translate(-50%,-50%);
		-moz-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
	}
	.b-banner .content {
		width: 55%;
		padding: 0;
	}

	.b-service-problems {
		display: block;
	}
	.b-service-problems .item {
		width: 100%;
	}
	.b-service-problems .item.big {
		display: block;
	}
	.b-service-problems .item .image {
		height: auto;
	}
	.b-service-problems .item.big .image {
		width: 100%;
	}
	.b-service-problems .item img {
		position: relative;
		left: 0;
		top: 0;
		-webkit-transform: translate(0,0);
		-moz-transform: translate(0,0);
		-ms-transform: translate(0,0);
		transform: translate(0,0);
	}
	.b-service-problems .item.big .content {
		width: 100%;
		margin-top: 10px;
	}

	.b-text-img {
		display: block;
	}
	.b-text-img .image {
		width: 100%;
	}
	.b-text-img .image img {
		margin: 0 auto;
		max-height: 300px;
	}
	.b-text-img .content {
		width: 100%;
		margin-top: 15px;
	}

	.b-advs {
		display: block;
	}
	.b-advs > li {
		width: 100%;
		margin: 0 auto 20px;
	}
	.b-advs > li:last-child {
		margin-bottom: 0;
	}
	.b-advs > li:nth-child(3n) {
		margin-right: auto;
	}

	.b-news {
		display: block;
	}
	.b-news > li {
		width: 100%;
		max-width: 370px;
		margin: 0 auto 20px;
	}
	.b-news > li:nth-child(3n) {
		margin-right: auto;
	}
	.b-news > li:last-child {
		margin-bottom: 0;
	}

	.b-contacts {
		display: block;
	}
	.b-contacts > li {
		width: 100%;
		margin: 0 auto 20px;
	}
	.b-contacts > li:nth-child(3n) {
		margin-right: auto;
	}
	.b-contacts > li:last-child {
		margin-bottom: 0;
	}
	.map {
		margin-top: 30px;
	}

	.b-stocks > li .name {
		font-size: 12px;
	}
	.b-stocks > li .date {
		font-size: 8px;
		margin-top: 5px;
	}
	.b-stocks > li .text {
		font-size: 8px;
		margin-top: 10px;
	}

	.b-docs {
		justify-content: space-between;
	}
	.b-docs > li {
		width: calc(50% - 10px);
		margin-right: 0;
	}
	.b-docs > li:nth-child(4n),
	.b-docs > li:nth-child(6n) {
		margin-right: 0;
	}

	.b-thanks .wrap .content {
		width: 100%;
		text-align: center;
	}
	.b-thanks .wrap .image {
		width: 100%;
		margin-top: 30px;
	}
}
@media screen and (max-width: 420px){
	.face-slide {
		height: 100px;
	}

	.b-banner {
		display: block;
		padding: 15px;
		text-align: center;
	}
	.b-banner .image {
		width: 100%;
	}
	.b-banner .image img {
		position: relative;
		top: 0;
		left: 0;
		margin: 0 auto;
		max-height: 200px;
		-webkit-transform: translate(0,0);
		-moz-transform: translate(0,0);
		-ms-transform: translate(0,0);
		transform: translate(0,0);
	}
	.b-banner .content {
		width: 100%;
	}
	.b-banner .btn {
		margin: 20px auto 0;
	}

	.face .wrap .content {
		width: calc(65% - 5px);
	}
	.face .wrap .content .b-title {
		font-size: 24px;
	}
	.face .wrap .content .text {
		font-size: 10px;
		margin-top: 10px;
	}
	.face .wrap .content .btn {
		font-size: 10px;
		margin-top: 15px;
	}
	.face .wrap .image {
		width: calc(35% - 5px);
	}

	.b-doctors, .b-serts {
		display: block;
	}
	.b-doctors > li, .b-serts > li {
		width: 100%;
		margin: 0 auto 20px;
	}
	.b-doctors > li:nth-child(3n),
	.b-doctors > li:nth-child(4n),
	.b-serts > li:nth-child(4n),
	.b-serts > li:nth-child(3n) {
		margin-right: auto;
	}
	.b-doctors > li:last-child,
	.b-serts > li:last-child {
		margin-bottom: 0;
	}
}